@model PROJETO_RENATO.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="margin-top: 10%">
    <center>
        <img src="https://github.com/LucasGuimaraes1/ConGest/blob/master/PROJETO%20RENATO/wwwroot/LOGObRANCA.png?raw=true"/> <br />
        <form asp-action="Index" style="width:250px; margin-top:5%; color:white">
            <input asp-for="UsuarioAcesso" placeholder="Usuario de acesso" class="form-control" />
            <span asp-validation-for="UsuarioAcesso" class="text-danger"></span><br />
            <input asp-for="SenhaAcesso" type="password" placeholder="Senha de acesso" class="form-control" />
            <span asp-validation-for="SenhaAcesso" class="text-danger"></span><br /><br />
            <button type="submit" class="btn btn-outline-success">Entrar</button>
            <a class="btn btn-outline-primary" href="/Home/Cadastro">Cadastrar</a>
        </form>
    </center>

</div>
